.container{
    width: 950px;
    background-color: #dddddd;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    
}
.header {
    height: 150px;
    width: 95%;
    background-color: #6aa84f;
    margin: 10px;
}
.nav {
    height: 300px;
    width: 200px;
    background-color: #6fa8dc;
    margin-left: 10px;
    margin-right: 10px;
}
.main {
    height: 400px;
    width: 695px;
    background-color: #e06666;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.sub-content {
    height: 250px;
    width: 210px;
    background-color: #ffd966;
    margin: 10px;
}
.advertisement {
    height: 120px;
    width: 670px;
    background-color: #b4a7d6;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

